In [ ]:
""" Project 
1. does number of cows in a farm has any dependency on area aquired. 
2. what is the average expiry days of each product. 
3. mention the name of the products with max and min shelf life
4. summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them. 
5. What is the average shelf life for different storage conditions."""

In [24]:
import pandas as pd
df = pd.read_csv("dairy_dataset - Copy.csv")
df

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Delhi,748.71,89,Medium,2022-02-24,6,Curd,Mother Dairy,554.90,88.45,...,2022-02-16,2022-02-21,352,87.20,30694.40,Uttar Pradesh,Online,202,98.07,33.53
4321,Jharkhand,385.91,29,Large,2022-05-14,4,Yogurt,Palle2patnam,818.33,55.35,...,2022-03-22,2022-04-14,68,58.39,3970.52,Kerala,Retail,750,87.41,114.37
4322,Chandigarh,311.54,65,Small,2020-01-05,6,Curd,Mother Dairy,583.56,92.61,...,2020-01-04,2020-01-11,141,89.46,12613.86,Haryana,Retail,442,33.47,153.66
4323,Maharashtra,890.55,90,Small,2022-10-25,6,Curd,Raj,3.10,15.30,...,2022-10-02,2022-10-09,2,10.56,21.12,Jharkhand,Wholesale,1,58.25,160.84
4324,Rajasthan,492.86,58,Large,2019-01-20,1,Milk,Mother Dairy,820.50,49.31,...,2019-01-06,2019-01-07,417,44.55,18577.35,Madhya Pradesh,Online,403,22.34,189.63

In [25]:
# infection of Data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4325 entries, 0 to 4324
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Location                             4325 non-null   object
 1   Total Land Area (acres)              4325 non-null   float64
 2   Number of Cows                       4325 non-null   int64
 3   Farm Size                            4325 non-null   object
 4   Date                                 4325 non-null   object
 5   Product ID                           4325 non-null   int64
 6   Product Name                         4325 non-null   object
 7   Brand                                4325 non-null   object
 8   Quantity (liters/kg)                 4325 non-null   float64
 9   Price per Unit                       4325 non-null   float64
 10  Total Value                          4325 non-null   float64
 11  Shelf Life (days)                    4325 non-null   int64
 12  Storage Condition                    4325 non-null   object
 13  Production Date                      4325 non-null   object
 14  Expiration Date                      4325 non-null   object
 15  Quantity Sold (liters/kg)            4325 non-null   int64
 16  Price per Unit (sold)                4325 non-null   float64
 17  Approx. Total Revenue(INR)           4325 non-null   float64
 18  Customer Location                    4325 non-null   object
 19  Sales Channel                        4325 non-null   object
 20  Quantity in Stock (liters/kg)        4325 non-null   int64
 21  Minimum Stock Threshold (liters/kg)  4325 non-null   float64
 22  Reorder Quantity (liters/kg)         4325 non-null   float64
dtypes: float64(8), int64(5), object(10)
memory usage: 777.3+ KB

In [26]:
df["Production Date"] = pd.to_datetime(df["Production Date"])

In [27]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

## Que_1. does number of cows in a farm has any dependency on area aquired.

In [28]:

import numpy as np
area = np.array(df["Total Land Area (acres)"])
cows = np.array(df["Number of Cows"])
print(np.corrcoef([area,cows]))
# there is no dependancy between  cows and total land area.

[[ 1.        -0.0095939]
 [-0.0095939  1.       ]]

## 2. what is the average expiry days of each product.

In [30]:
gb = df.groupby("Product Name").agg({"Shelf Life (days)":"mean"})
gb

              Shelf Life (days)
Product Name
Butter                32.932715
Buttermilk            10.572414
Cheese                57.324190
Curd                   6.025052
Ghee                 105.741294
Ice Cream             25.458629
Lassi                 14.847875
Milk                  12.923077
Paneer                10.662132
Yogurt                25.517162

## Que3. mention the name of the products with max and min shelf life

In [31]:
max_shelf_life = df["Shelf Life (days)"].idxmax()
max_shelf_life

875

In [32]:
df.loc[max_shelf_life]

Location                                     Uttar Pradesh
Total Land Area (acres)                             683.46
Number of Cows                                          53
Farm Size                                           Medium
Date                                            2019-04-25
Product ID                                              10
Product Name                                          Ghee
Brand                                                Sudha
Quantity (liters/kg)                                423.59
Price per Unit                                       11.53
Total Value                                      4883.9927
Shelf Life (days)                                      150
Storage Condition                                  Ambient
Production Date                        2019-04-01 00:00:00
Expiration Date                                 2019-08-29
Quantity Sold (liters/kg)                              118
Price per Unit (sold)                                15.52
Approx. Total Revenue(INR)                         1831.36
Customer Location                                Telangana
Sales Channel                                       Retail
Quantity in Stock (liters/kg)                          305
Minimum Stock Threshold (liters/kg)                  52.32
Reorder Quantity (liters/kg)                        122.58
Name: 875, dtype: object

In [33]:
min_shelf_life = df["Shelf Life (days)"].idxmin()
min_shelf_life

15

In [34]:
df.loc[min_shelf_life]

Location                                            Kerala
Total Land Area (acres)                              14.97
Number of Cows                                          71
Farm Size                                            Small
Date                                            2020-02-22
Product ID                                               1
Product Name                                          Milk
Brand                                         Mother Dairy
Quantity (liters/kg)                                821.52
Price per Unit                                       11.58
Total Value                                      9513.2016
Shelf Life (days)                                        1
Storage Condition                         Polythene Packet
Production Date                        2020-01-31 00:00:00
Expiration Date                                 2020-02-01
Quantity Sold (liters/kg)                              778
Price per Unit (sold)                                 8.69
Approx. Total Revenue(INR)                         6760.82
Customer Location                                  Gujarat
Sales Channel                                       Retail
Quantity in Stock (liters/kg)                           43
Minimum Stock Threshold (liters/kg)                  89.45
Reorder Quantity (liters/kg)                         28.11
Name: 15, dtype: object

## Que4. summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them.

In [40]:
gb = df.groupby("Brand").agg({"Total Land Area (acres)":"sum", "Number of Cows":"sum","Approx. Total Revenue(INR)":"sum"})
gb

,Total Land Area (acres),Number of Cows,Approx. Total Revenue(INR)
Brand,,,
Amul,528377.46,56873,14608864.46
Britannia Industries,51221.94,4968,1029522.05
Dodla Dairy,111974.65,12354,2604857.37
Dynamix Dairies,55356.87,5637,1479884.78
Mother Dairy,497118.15,56517,13766786.47
Palle2patnam,106237.70,11705,2528989.12
Parag Milk Foods,53690.47,5204,1516697.71
Passion Cheese,50724.93,5353,1498653.15
Raj,346073.91,36957,9560777.64
Sudha,328411.07,36467,8370109.56
Warana,48377.14,5683,1769505.55

## Que5. What is the average shelf life for different storage conditions.

In [42]:
gb = df.groupby(["Brand","Product Name","Storage Condition"]).agg({"Shelf Life (days)":"mean"})
gb

                                                     Shelf Life (days)
Brand                Product Name Storage Condition
Amul                 Butter       Frozen                     33.679245
                                  Refrigerated               32.018182
                     Buttermilk   Refrigerated               11.044944
                     Cheese       Frozen                     58.387755
                                  Refrigerated               58.080645
                     Curd         Refrigerated                6.099174
                     Ghee         Ambient                   105.105263
                     Ice Cream    Frozen                     25.283019
                     Lassi        Refrigerated               14.888889
                     Milk         Polythene Packet            1.471698
                                  Tetra Pack                 25.565217
                     Paneer       Refrigerated               10.789474
                     Yogurt       Frozen                     25.403846
                                  Refrigerated               25.733333
Britannia Industries Cheese       Frozen                     57.956522
                                  Refrigerated               59.309524
Dodla Dairy          Ice Cream    Frozen                     25.314286
                     Yogurt       Frozen                     25.152542
                                  Refrigerated               25.362069
Dynamix Dairies      Cheese       Frozen                     53.000000
                                  Refrigerated               56.135593
Mother Dairy         Butter       Frozen                     32.894737
                                  Refrigerated               32.433333
                     Buttermilk   Refrigerated               10.466102
                     Curd         Refrigerated                5.949580
                     Ghee         Ambient                   107.721154
                     Ice Cream    Frozen                     25.812500
                     Lassi        Refrigerated               14.981308
                     Milk         Polythene Packet            1.466667
                                  Tetra Pack                 25.491228
                     Paneer       Refrigerated               10.630252
                     Yogurt       Frozen                     25.930233
                                  Refrigerated               24.740741
Palle2patnam         Ice Cream    Frozen                     25.400000
                     Yogurt       Frozen                     26.080000
                                  Refrigerated               25.836066
Parag Milk Foods     Butter       Frozen                     32.236364
                                  Refrigerated               32.936170
Passion Cheese       Cheese       Frozen                     54.650000
                                  Refrigerated               60.339286
Raj                  Buttermilk   Refrigerated               10.598214
                     Curd         Refrigerated                5.915966
                     Ghee         Ambient                   104.105769
                     Lassi        Refrigerated               14.904762
                     Milk         Polythene Packet            1.400000
                                  Tetra Pack                 25.924528
                     Paneer       Refrigerated               10.306306
Sudha                Buttermilk   Refrigerated               10.293103
                     Curd         Refrigerated                6.133333
                     Ghee         Ambient                   105.989899
                     Lassi        Refrigerated               14.577320
                     Milk         Polythene Packet            1.557692
                                  Tetra Pack                 25.208333
                     Paneer       Refrigerated               10.931034
Warana               Butter       Frozen                     33.049180
                                  Refrigerated               34.651163